/* ======================================================================= */
/* action panel */
.bookmartian_action {
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
}

.bookmartian_action h1 {
    font-size: 16pt;
    margin: 0px;
    padding-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

.bookmartian_addpanel {
    padding: 12px;
    overflow: auto;
}

.bookmartian_fieldtitle {
    text-align: left;
    font-size: small;
}

.bookmartian_actionbutton {
    width:64px;
    float:right;
    color: black;
    margin-right: 12px;
}

.bookmartian_title {
    font-size: large;
    margin-bottom: 12px;
}

.bookmartian_inputpair {
}

.bookmartian_fieldtitle {
    font-size: small;    
}

.bookmartian_field {
    font-size: small;
    width:94%;
    color: black;
}

