
html, body {
    margin:0px; 
    padding:0px;
    font-family: 'Lato', sans-serif;
}

body a {
    text-decoration: none;
    cursor: pointer;
}

body a:hover {
    text-decoration: underline;
}

hr {
    margin: 12px;
    height: 1px; 
    border: 0;
    clear:both;
}

h1 {
    font-size: x-large;
    float: left;
}

h2 {
    font-size: large;
}

h3 {
    font-size: small;
}

.padlock {
    color: green;
}

/* ======================================================================= */
/* sidebar */
.sidebar {
    position: absolute;
    top: 0px;
    width: 120px;
    padding: 10px;
    z-index: 2;
}

.topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 132px;
    display: none;
    vertical-align: bottom;
    z-index: 1;
}

.advancedsearch {
    padding: 10px;
    margin-left: 140px;
    font-size: small;
}

.advancedsearchhelp {
    margin-top: 30px;
    margin-right: 16px;
}

.admin-links a {
    text-decoration: none;
    color: #767676;
}

.return-home a {
    text-decoration: none;
    color: #FFFFFF;
}

/* ======================================================================= */
/* mainbody */
.mainbody {
    margin-left: 140px;
    padding: 20px;
}

.aboutbox {
    margin: 12px;
    padding: 6px;
    border: solid #767676 1px;
}

/* ======================================================================= */
/* header */
.header {
    height: 36px;
}

.iconbutton {
    cursor: pointer;
    float: right;
}

.addbutton {
    margin: 4px 6px;    
}

.searchbutton {
    float:right;
    margin: 9px 8px 9px 4px;
}

.searchbox {
    width: 100px;
    height: 16px;
    font-size: small;
}

.errormessage {
    width:100%;
    background-color: darkred;
    color: white;
    padding: 6px 12px 8px 12px;
    display: none;
}

/* ======================================================================= */
/* action panel */
.action {
    display: none;
    position: absolute;
    width: 226px;
}

.addpanel {
    padding: 12px;
    overflow: auto;
}

.fieldtitle {
    font-size: small;
}

.field {
    font-size: small;
    width:100%;
}

.actionbutton {
    width:64px;
    float:right;
}

.titleinputpair {
    
}

/* ======================================================================= */
/* tag cloud */
.tagcloud {
    font-size: small;
    margin-top: 8px;
}

.tag {
    display: block;    
}

.tagcolumns {
    column-count: 4;
}

.tagblock {
    min-height:22px;
    border: solid #cccccc 1px;
    margin: 3px;
    break-inside:avoid;
}

.tagname {
    float:clear;
}

.tagcontrols {
    margin: 5px;
    float: left;
}


/* ======================================================================= */
/* promoted tiles */
.promotedsection {
    text-align: left;
}

.promotedlink {
    margin: 12px 6px; 
    height: 90px;
    width: 90px;
    border: solid 1px #000000;
    display: none;
}

.promotedimage {
    height: 90px;
    width: 90px;
}

/* ======================================================================= */
/* search results */

.searchresults {
    display: none;
    width: 100%;
    margin-bottom: 24px;
}

.searchblock {
    margin: 8px;
    display: inline-block;
    width: 97%;
}

.searchtable {
    font-size: medium;  
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    text-align: left;        
}

.searchtable td {
    border: 2px solid #f3f3f3;
    padding: 8px;
}

.searchtable a:link {
    color: black;
    text-decoration: none;
}

.searchtable a:visited {
    color: black;
}

.searchtable a:hover {
    text-decoration: underline;
}

.tags {
    font-style: italic;
}

.tags:hover {
    cursor: pointer;        
}

/* ======================================================================= */
/* links */
.content {
    text-align: left;
    clear: both;
}

.linkblock {
    margin: 8px;
    display: none;
    text-align: left;
    width: 226px;
    vertical-align:top;
}

.linkblocktitle {
    padding: 8px;    
    margin: 0px;    
}

.linktable {
    width: 226px;
    font-size: medium;  
    border-collapse: collapse;
    border-style: hidden;
}

.linktable td {
    border: 2px solid #f3f3f3;
    padding: 8px;
}

.linktable a:link {
    color: black;
    text-decoration: none;
}

.linktable a:visited {
    color: black;
}

.linktable a:hover {
    text-decoration: underline;
}

.favicon {
    width: 20px;
    text-align: center;
}

.edit-ellipsis {
    text-align: right;
    vertical-align: bottom;
    float:right;
    cursor: pointer;  
    margin-top: 4px;  
}

.bookmarkedits {
    font-size: small;
    text-align: right;
    display: none;
}

.bookmarkedits a {
    cursor: pointer;
}

.markinfo {
    font-size: x-small;
    word-break: break-all;
}

.notes {
    font-style: italic;
}

.sortcommands {
    text-align: right;
    font-size: small;  
    margin-top: 4px;  
}

.sortcommands a {
    cursor: pointer;    
}

.sortcommands a:hover {
    text-decoration: underline;
}

.footer {
    font-size: small;
    margin-right: 12px;
    margin-bottom: 24px;
}

/* ======================================================================= */
/* settings */

.settings-section {
    margin-left: 24px;
}

.settingslist {
    width: 20%;
    text-align: left;
    float:left;
}

.settingspage {
    width: 80%;
    min-height: 200px;
    text-align: left;
    float: right;
    margin-bottom: 12px;
}

.settingsform {
    padding: 10px;
}

.setting {
    margin-bottom: 6px;
    cursor: pointer;
}

.importtagsfield {
    width: 400px;
}

.message {
    margin-top: 12px;
}

.settingSelected {
    font-weight: bold;
}

.help-table {
    text-align: left;
    width:100%;
}

.help-table tr:nth-child(odd) {
    background-color:#FFFFFF; 
    vertical-align: top;
}

.help-table tr:nth-child(even) {
    background-color:#F4F4F4; 
    vertical-align: top;
}

.monospace, .monospace a {
    font-family:monospace;
    text-decoration: none;
    color: #767676;
}

