
html, body {
    margin:0px; 
    padding:0px;
    font-family: 'Lato', sans-serif;
}

hr {
    margin: 12px;
    height: 1px; 
    border: 0;
}

h1 {
    font-size: x-large;
    margin: 0px;
    padding-bottom: 8px;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: x-large;
}

/* ======================================================================= */
/* header */
.header {
    height: 48px;
}

.iconbutton {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.addbutton {
    margin: 6px 8px;    
}

.searchbutton {
    float:right;
    margin: 6px 8px;
}

.searchbox {
    margin: 5px;
    float:right;
    width: 200px;
    height: 32px;
    font-size: x-large;
}

/* ======================================================================= */
/* action panel */
.action {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addpanel {
    padding: 12px;
    overflow: auto;
    font-size: large;
}

.fieldtitle {
    width: 64px;
}

.actionbutton {
    width:120px;
    height: 32px;
    font-size: x-large;    
}

.titleinputpair {
    float:left;
}

.addinputtitle {
    margin-right: 12px;
    width: 160px;
    font-size: x-large;    
}

.addinputurl {
    margin-right: 12px;
    width: 250px;
    font-size: x-large;    
}

.addinputtags {
    margin-right: 12px;
    width: 160px;
    font-size: x-large;    
}

.addinputnotes {
    margin-right: 12px;
    width: 250px;
    font-size: x-large;    
}

/* ======================================================================= */
/* tag cloud */
.tagcloud {
    padding: 4px 12px 12px 24px;
    text-align: center;
    font-size: x-large;
    clear: both;
}

.tagcloud a {
    color: #757575;;
    text-decoration: none;
    cursor: pointer;
}

.tagcloud a {
    color: #757575;;
}

.tagcloud a:hover {
    text-decoration: underline;
}

/* ======================================================================= */
/* promoted tiles */
.promotedsection {
    margin: 12 24 12 24;
    text-align: center;
}

.promotedlink {
    margin: 12px 6px; 
    height: 90px;
    width: 90px;
    border: solid 1px #000000;
    display: none;
}

.promotedimage {
    height: 90px;
    width: 90px;
}

/* ======================================================================= */
/* search results */

.searchresults {
    margin: 6px 24px 6px 24px;
    display: none;
}

.searchblock {
    width:100%;
    margin: 8px;
    display: inline-block;
    text-align: left;
}
.searchtable {
    width: 95%;
    font-size: x-large;  
    border-collapse: collapse;
    border-style: hidden;
}

.searchtable td {
    border: 2px solid #f3f3f3;
    padding: 8px;
}

.searchtable a:link {
    color: black;
    text-decoration: none;
}

.searchtable a:visited {
    color: black;
}

.searchtable a:hover {
    text-decoration: underline;
}
.tags {
    font-style: italic;
}

/* ======================================================================= */
/* links */
.content {
    margin: 6px 24px 6px 24px;
    text-align: center;
    clear: both;
}

.linkblock {
    margin: 8px;
    display: none;
    text-align: left;
}

.linktable {
    width: 220px;
    font-size: x-large;  
    border-collapse: collapse;
    border-style: hidden;
}

.linktable td {
    border: 2px solid #f3f3f3;
    padding: 8px;
}

.linktable a:link {
    color: black;
    text-decoration: none;
}

.linktable a:visited {
    color: black;
}

.linktable a:hover {
    text-decoration: underline;
}

.favicon {
    width: 20px;
    text-align: center;
}

.bookmarkedits {
    font-size: large;
    text-align: right;
    display: none;
}

.bookmarkedits a {
    cursor: pointer;
}

.footer {
    text-align: right;
    font-size: medium;
    margin-right: 12px;
    margin-bottom: 24px;
}
