/* ======================================================================= */
/* action panel */
.bookmartian_action h1 {
    font-size: 16pt;
    margin: 0px;
    padding-bottom: 8px;
    text-align: left;
}

.bookmartian_action {
    background-color: #E87D0C;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.bookmartian_addpanel {
    color: white;
    padding: 12px;
    overflow: auto;
}

.bookmartian_fieldtitle {
    width: 64px;
    text-align: left;
}

.bookmartian_actionbutton {
    width:64px;
    color: black;
}

.bookmartian_titleinputpair {
    float:left;
}

.bookmartian_addinputtitle {
    margin-right: 12px;
    width: 160px;
    color: black;
    font-size: 13pt;
}

.bookmartian_addinputurl {
    margin-right: 12px;
    width: 250px;
    font-size: 13pt;
    color: black;
}

.bookmartian_addinputtags {
    margin-right: 12px;
    width: 160px;
    font-size: 13pt;
    color: black;
}

.bookmartian_addinputnotes {
    margin-right: 12px;
    font-size: 13pt;
    color: black;
    width: 250px;
}

