/* ======================================================================= */
/* action panel */
.bookmartian_action {
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookmartian_action h1 {
    font-size: 16pt;
    margin: 0px;
    padding-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

.bookmartian_addpanel {
    padding: 12px;
    overflow: auto;
}

.bookmartian_fieldtitle {
    width: 64px;
    text-align: left;
    font-size: 12pt;
    margin-bottom: 4px;
}

.bookmartian_actionbutton {
    width:64px;
}

.bookmartian_titleinputpair {
    float:left;
}

.bookmartian_addinputtitle {
    margin-right: 12px;
    width: 160px;
    height: 20px;
    border: solid 1px black;
}

.bookmartian_addinputurl {
    margin-right: 12px;
    height: 20px;
    width: 250px;
    border: solid 1px black;
}

.bookmartian_addinputtags {
    margin-right: 12px;
    height: 20px;
    width: 160px;
    border: solid 1px black;
}

.bookmartian_addinputnotes {
    margin-right: 12px;
    height: 20px;
    width: 250px;
    border: solid 1px black;
}

